.App {
  text-align: center;
}

.App-header {
  background-color: #e3b04b;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  border-bottom: 5px solid white;
  padding-bottom: 3px;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style: none;
  text-align: left;
}

.form-container {
  background-color: green;
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
}

.cheese-res-button {
  background-color: white;
}

.list-showing-button {
  background-color: transparent;
}

.list-showing-button:hover {
  background-color: black;
  border: 2px solid black;
}

.list-showing-button:active {
  background-color: black;
  border: 2px solid black;
}

.list-not-showing-button {
  background-color: transparent;
}

.list-not-showing-button:hover {
  background-color: black;
  border: 2px solid black;
}

.list-not-showing-button:active {
  background-color: black;
  border: 2px solid black;
}

.yellow-display {
  background-color: #e3b04b;
}

.test {
  background-color: white;
  clip-path: polygon(0 100%, 100% 100%, 100% 23%, 0 100%);
  height: 100px;
}
