.App {
  text-align: center;
}

.App-header {
  background-color: #e3b04b;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  border-bottom: 5px solid white;
  padding-bottom: 3px;
}

.App-link {
  color: #61dafb;
}
